<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Movie List</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
</head>
<body>
	<div class="container">
		<h1>Movie Collection</h1>
		<hr>
		<h2>Save Movie</h2>
		<form action="#" th:action="@{/saveMovie}" th:object="${movie}"
			method="POST">
			
			<input type="hidden" th:field="*{id}">
			
			<input type="text" th:field="*{movieName}" class="form-control mb-4 col-4">
			
			<input type="date" th:field="*{publicationYear}" class="form-control mb-4 col-4">
				
			<input type="text" th:field="*{description}" class="form-control mb-4 col-4">
			
			 <input type="text" th:field="*{media}" class="form-control mb-4 col-4">
				
			<button type="submit" class="btn btn-outline-warning">Update Movie</button>
			
<hr>
		</form>
		<br>
		<a th:href="@{/}" class="btn btn-outline-info">Back to Movie List</a>
	</div>
</body>
</html>